@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@400;900&family=Poppins:wght@400;600;900&display=swap");
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

img {
  display: block;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: 'Poppins', 'Noto sans KR', sans-serif;
}

body.noScroll {
  overflow: hidden;
  -ms-touch-action: none;
      touch-action: none;
}

a {
  color: #323949;
  text-decoration: none;
}

section .inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 1472px;
  width: 100%;
  padding: 80px 16px;
  margin: 0 auto;
}

section .inner.row {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media (max-width: 800px) {
  section .inner {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 42px 16px;
  }
  section .inner.hero {
    padding-top: 102px;
  }
}

section.alternate {
  background-color: #f2f2f2;
}

@media (max-width: 800px) {
  section.alternate .copy-container {
    margin-top: 40px;
    margin-bottom: 0;
  }
}

section .nft-accent {
  font-weight: 900;
  color: #7d65f2;
}

section .col {
  margin: 0 42px;
}

@media (max-width: 800px) {
  section .col {
    text-align: center;
    margin: 0 16px;
  }
}

section .app-image {
  width: 100%;
}

section .copy-container {
  max-width: 478px;
  width: 100%;
  color: #323949;
}

@media (max-width: 800px) {
  section .copy-container {
    margin-bottom: 40px;
  }
}

section h1 {
  position: relative;
  font-size: 5vw;
  font-weight: 900;
  color: #323949;
}

section h1.center {
  text-align: center;
}

@media (min-width: 1440px) {
  section h1 {
    font-size: 70px;
  }
}

@media (max-width: 800px) {
  section h1 {
    font-size: 40px;
  }
}

section .speech-bubble {
  position: absolute;
  top: -70px;
  left: 60px;
}

@media (max-width: 800px) {
  section .speech-bubble {
    width: 62px;
    top: -47px;
    left: 47px;
  }
}

section h2 {
  font-size: 4vw;
  font-weight: 700;
  margin-bottom: 2vw;
}

@media (min-width: 1440px) {
  section h2 {
    font-size: 60px;
    margin-bottom: 34px;
  }
}

@media (max-width: 800px) {
  section h2 {
    font-size: 32px;
    margin: 16px 0;
  }
}

section h3 {
  font-size: 2vw;
  font-weight: 600;
  margin-bottom: 2vw;
  letter-spacing: -0.4px;
}

@media (min-width: 1440px) {
  section h3 {
    font-size: 28px;
    margin-bottom: 30px;
  }
}

@media (max-width: 800px) {
  section h3 {
    font-size: 18px;
  }
}

section p {
  font-size: 2vw;
  font-weight: 400;
  line-height: 1.4em;
  color: #737373;
}

@media (min-width: 1440px) {
  section p {
    font-size: 28px;
  }
}

@media (max-width: 800px) {
  section p {
    font-size: 16px;
  }
}

section .appstore-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 48px;
  margin-left: -16px;
}

section .appstore-links a {
  margin: 0 16px;
}

section .appstore-links img {
  width: 100%;
}

@media (max-width: 800px) {
  section .appstore-links {
    margin-top: 24px;
    margin-left: 0;
  }
  section .appstore-links a {
    margin: 0 8px;
  }
}

footer {
  border-top: 1px solid #e0e0e0;
  font-size: 12px;
  color: #aaa;
}

footer .inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 1472px;
  width: 100%;
  margin: 0 auto;
  padding: 16px 0;
  line-height: 1.5em;
}

@media (max-width: 800px) {
  footer .inner {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

footer a {
  color: #aaa;
}

footer a:hover {
  text-decoration: underline;
}
/*# sourceMappingURL=styles.css.map */